@import "generales.scss";
@import "menu.scss";

.menu__presentacion--contacto {
    background-color: $negro;
    background-image: url("../img/contacto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 19%;
    .menu__presentacion__titulo {
        @include menu-presentacion-titulo;
    }
}    


.contacto {
    background-image: url("../img/pub.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:3rem;
    padding-bottom:3rem;
}

.contacto__maps iframe {
    height:100%;
    width:100%;
    opacity:0.9;
}
.contacto__maps {
    margin-top:2rem;
}
.contacto__form {
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    background-color:$peach;
    text-align: center;
    opacity: 0.85;
}

label {
    font-family:$sub-titulos;
    font-weight: bold;
    color:$negro;
    margin-bottom:$margin-mobile;
}

input {
    border:$peach 2px solid;
    border-radius: 8px;
    padding: $padding-mobile;
    width:$width-mobile;
    margin-bottom:$margin-mobile;
    text-align:center;
}
.formulario__promociones {
    width:auto;
}

.formulario__reservar{
    font-family:$contenidos;
    font-size:1rem;
    padding:.4rem; 
    border-radius:.3rem;
    color:$blanco;
    background-color:$negro;
    border:$negro;
}
.formulario__reservar:hover{
    background-color:$blanco;
    color:$negro;
}

.formulario__borrar {
    font-family:$contenidos;
    font-size:1rem;
    padding:.4rem; 
    border-radius:.3rem;
    color:$blanco;
    background-color:$negro;
    border:$negro;
}
.formulario__borrar:hover{
    background-color:$blanco;
    color:$negro;

}

select {
    font-family:$contenidos;
    font-size:1rem; 
    color:$negro;
    border:$peach solid 2px;
    border-radius: 8px;
    width:$width-mobile;
    height:2.5rem;
}

textarea {
    border:$peach 2px solid;
    border-radius: 8px;
    width:15rem;
}

@media only screen and (min-width:768px) {
    .contacto {
    padding-left: 3rem;
    padding-right:3rem;
    padding-bottom:4rem;
}
    label {
        margin-bottom:$margin-mobile *2;
    }
    input {
        width:$width-mobile *1.2;
    }
    select {
        width:$width-mobile *1.2;
    }
    textarea {
        width:$width-mobile *1.2;
    }
}
@media only screen and (min-width:1024px) {
    .contacto__form {
        width:50%;
    } 
    .contacto {
        display:flex;
        flex-direction: row;
        padding-left: 3rem;
        padding-right:3rem;
        padding-bottom:4rem;
    }
    .contacto__maps {
        width:50%;
    }
    .contacto__maps iframe {
        height:100%;
        width:100%;
    }
    label {
        margin-bottom:$margin-mobile;
    }
    input {
        width:$width-mobile *2;
        margin-bottom:$margin-mobile *2;
    }
    select {
        width:$width-mobile *2;
        margin-bottom:$margin-mobile *2;
    }
    textarea {
        width:$width-mobile *2;
    }
}