@import "generales.scss";

/* comida */


/* galería */

.galeriaContainer {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 200px;
    grid-gap:0.5rem;
}

.containerImagen__img {
    width:100%;
    height: 100%;
    object-fit: cover; /*la imagen ocupa ese ancho/alto pero sin distorsión*/
}

.containerImagen:nth-child(1) {
    grid-column: span 2;
}
.containerImagen:nth-child(2) {
    grid-column: span 2;
}
.containerImagen:nth-child(3) {
    grid-column: span 2;
}

.containerImagen:nth-child(4) {
    grid-column: span 2;
}
.containerImagen:nth-child(5) {
    grid-column: span 2;
}
.containerImagen:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
}

.containerImagen:nth-child(7) {
    grid-column: span 2;
    grid-row: span 2;
}
.containerImagen:nth-child(8) {
    grid-column: span 2;
}
.containerImagen:nth-child(9) {
    grid-column: span 2;
    grid-row: span 2;
}

.containerImagen:nth-child(10) {
    grid-column: span 2;
    grid-row: span 2;
}
.containerImagen:nth-child(11) {
    grid-column: span 2;
}
.containerImagen:nth-child(12) {
    grid-column: span 2;
}

@media only screen and (min-width:768px) {
    .galeriaContainer {
        grid-template-columns: repeat(4,1fr);
    }
}

@media only screen and (min-width:1024px) {
    .galeriaContainer {
        grid-template-columns: repeat(6,1fr);
        grid-auto-rows: 300px;
    }
    .containerImagen:nth-child(2) {
        grid-row: span 2;
    }
    .containerImagen:nth-child(11) {
        grid-row: span 2;
    }
    .containerImagen__img {
        filter: grayscale(1);
    }
    .containerImagen__img:hover {
        filter: grayscale(0);
        
    }
}




