@import "generales.scss";

.tragos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.opciones {
    background-color: $negro;
    text-align: center;
    margin-bottom:2.5rem;
    box-shadow: 0px 0px 5px 5px $negro;
    padding: 10px;
    border-radius: 5px;
    height:auto;
    max-width: 360px;
}
.opciones__img {
    border-radius:$radius-mobile;
}
.opciones__img:hover {
    animation:pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s;
}

.opciones__nombre {
    font-family: $principal;
    font-size: 1.5rem;
    color:$peach;
    padding-bottom: 10px;
}

.opciones__precio {
    margin-top:2rem;
    font-family: $principal;
    font-size: 1.5rem;
    color:$peach;
}

section.promociones.container {
    margin-bottom:$margin-mobile;
}
