@import "generales.scss";

.menu {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    background-image: url(../img/comida2.jpg);
    background-image: fit;
    padding: 10px;
        .menu__categorias {
            display: flex;
            flex-wrap: wrap;
            background-color: black;
            opacity: 0.95;
                h3 {
                    color:$peach;
                    font-family: $principal;
                    font-size: 3rem;
                }
            .menu__item {
                display:grid;
                grid-template-columns: 1.5fr 1fr 0.5fr;
                    .menu__precio {
                        display: flex;
                        align-items:center;
                        justify-content: center;
                        font-weight: bold;
                        color:$blanco;
                    }
                    .menu__titulo {
                        color:$blanco;
                    }
                    .puntos hr {
                        display: flex;
                        align-items:center;
                        justify-content: center;
                        color: $peach-intenso;
                        height:0.3rem;
                        

                    }
                    .menu__descripcion {
                        grid-column-start: 1;
                        grid-column-end:4;
                        color:gainsboro;
                    }
                    
            }
        }
}




.tragos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.opciones {
    background-color: $negro;
    text-align: center;
    margin-bottom:2.5rem;
    box-shadow: 0px 0px 5px 5px $negro;
    padding: 10px;
    border-radius: 5px;
    height:auto;
    max-width: 360px;
}
.opciones__img {
    border-radius:$radius-mobile;
}
.opciones__img:hover {
    animation:pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s;
}

.opciones__nombre {
    font-family: $principal;
    font-size: 1.5rem;
    color:$peach;
    padding-bottom: 10px;
}

.opciones__precio {
    margin-top:2rem;
    font-family: $principal;
    font-size: 1.5rem;
    color:$peach;
}

section.promociones.container {
    margin-bottom:$margin-mobile;
}
