@import "generales.scss";
@mixin menu-presentacion-titulo {
    color:white;
        font-weight: bold;
        font-style: italic;
        padding: 50px;
        text-align: center;
        margin:0;
        font-family:$sub-titulos;
        font-size: 1.8rem;
        animation:slideInUp; 
        animation-duration: 1.5s;
        .line {
            color:$peach-intenso;
            height: 3.5px;
            width: 150px;
            margin:auto;
            margin-top: 10px;
        }
}

.menu__presentacion--comida {
    background-color: $negro;
    background-image: url("../img/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .menu__presentacion__titulo {
        @include menu-presentacion-titulo;
    }
        /*color:white;
        font-weight: bold;
        font-style: italic;
        padding: 50px;
        text-align: center;
        margin:0;
        font-family:$sub-titulos;
        font-size: 1.8rem;
        animation:slideInUp; 
        animation-duration: 1.5s;
        .line {
            color:$peach-intenso;
            height: 3.5px;
            width: 150px;
            margin:auto;
            margin-top: 10px;
        }
    }*/
}
.menu {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("../img/menu3.jpg");
    background-repeat: repeat-y;
    .menu__categorias {
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        opacity: 0.91;
        padding:1.5rem;
        
        h3 {
            color:$peach;
            font-family: $principal;
            font-size: 1.5rem;
        }
        .menu__item {
            display:grid;
            grid-template-columns: 1.5fr 0.5fr;
            .menu__precio {
                display: flex;
                align-items:center;
                justify-content: center;
                font-weight: bold;
                color:white;
            }
            .menu__titulo {
                color:white;
                font-size: 1.20rem;
                font-family: $sub-titulos;
                font-weight: bold;
            }
            .menu__titulo span {
                margin-left: 0.5rem;
                font-size: 0.9rem;
                
            }
            .puntos hr {
                display:none;
            }
            .menu__descripcion {
                grid-column-start: 1;
                grid-column-end:4;
                color:rgb(185, 185, 185);
                font-family: $contenidos;
            }
            .menu__descripcion a {
                text-decoration: none;
                color:gainsboro;
            }
                
        }
    }    
}
@media only screen and (min-width:768px) {
    .menu__presentacion {
        .menu__presentacion__titulo {
            font-size: 2.2rem;
            .line {
                width: 200px;
            }
        }
    }
    .menu {
        background-repeat: repeat;
    }
}


@media only screen and (min-width:1024px) {
    .menu {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /*grid-gap:0.8rem;*/
        background-image: url("../img/menu2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .menu__categorias:nth-child(1) {
            padding-top:2rem;
            padding-left:2rem;
        }
        .menu__categorias:nth-child(2) {
            padding-top:2rem;
        }
        .menu__categorias:nth-child(3) {
            padding-left:2rem;
            padding-bottom: 1.5rem;
        }
        .menu__categorias:nth-child(4) {
            padding-bottom:1.5rem;
        }
        .menu__categorias {
            display: flex;
            flex-wrap: wrap;
            
            h3 {
                font-size: 2.5rem;
            }
            .menu__item {
                display:grid;
                grid-template-columns: 1.5fr 1fr 0.5fr;
                
                .menu__titulo {
                    font-size: 1.5rem;
                }
                .menu__titulo span {
                    margin-left: 0.5rem;
                    font-size: 1rem;
                }
                .puntos hr {
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    color: $peach-intenso;
                    height:0.2rem;
                }
                .menu__descripcion {
                    grid-column-start: 1;
                    grid-column-end:4;
                    color:rgb(185, 185, 185);
                    width: 90%;
                }      
            }
        }    
    }
    .menu__presentacion--bebidas {
        background-repeat: no-repeat;
        background-size:cover;
        background-position-x: 2rem;
        height:auto;
    }    
}

.menu__presentacion--bebidas {
    background-color: $negro;
    background-image: url("../img/drink2.jpg");
    background-position:10%;
    
    .menu__presentacion__titulo {
        
        @include menu-presentacion-titulo;
        animation:slideInLeft; 
        animation-duration: 2.5s;
    }
}    


.bebidas {
    background-image: url("../img/drink3.jpg");
    background-size: cover;
    background-color: $blanco;
    padding-top: 1rem;
}

.tragos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.opciones {
    background-color: $negro;
    text-align: center;
    margin-bottom:2.5rem;
    box-shadow: 0px 0px 2px 2px $negro;
    padding: 10px;
    border-radius: 5px;
    height:auto;
    max-width: 360px;
}
.opciones__img {
    border-radius:$radius-mobile;
}
.opciones__img:hover {
    animation:pulse; 
    animation-duration: 0.5s;
}

.opciones__nombre {
    font-family: $principal;
    font-size: 1.5rem;
    color:$peach;
    padding-bottom: 10px;
}

.opciones__precio {
    margin-top:2rem;
    font-family: $sub-titulos;
    font-weight: bold;
    font-size: 1.5rem;
    color:$peach;
}

section.promociones.container {
    margin-bottom:$margin-mobile;
}

